<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33081795743-15s05d3jano610nqggqs1e5n9jvv4e8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33081795743-15s05d3jano610nqggqs1e5n9jvv4e8p</string>
	<key>API_KEY</key>
	<string>AIzaSyDHQJhtXegwuxkkaCOGx6Q1trf_V9UGZ1c</string>
	<key>GCM_SENDER_ID</key>
	<string>33081795743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoCliente</string>
	<key>PROJECT_ID</key>
	<string>trabalho-mobille</string>
	<key>STORAGE_BUCKET</key>
	<string>trabalho-mobille.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33081795743:ios:ec824f2ae397ff538aeeaa</string>
	<key>DATABASE_URL</key>
	<string>https://trabalho-mobille-default-rtdb.firebaseio.com</string>
</dict>
</plist>